/* =============== font-family  Dosis, sans-serif ================= */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-family: 'Dosis', sans-serif;
    --color-text-1: #fff;
    --color-DownStripe: #fc1a1a;
    --color-text-2: rgb(6, 46, 78);
    --fondo-background: #b68d05fd;
    --fondo-card: rgba(52, 121, 48, 0.305);
}

.body::-webkit-scrollbar {
    width: 15px;    
    background:  #ED9002;  
}

.body::-webkit-scrollbar-thumb{
   border-radius: 9px;
background: linear-gradient(90deg, rgb(224, 89, 6) 0%, rgba(121,61,9,1) 6%, rgba(255, 157, 0, 0.386) 100%);
}

body,
html {

    font-family: 'Dosis';
    /* elimina scroll de lado */
    overflow-x: hidden;
    transition: all 0.4s;
}

/* ====================== Navbar ==================== */
a {
    text-decoration: none;
    color: var(--color-text-1);
    font-weight: 900;
}

ul {
    list-style: none;
}

.active a {
    color: rgb(148, 74, 9);
    text-decoration: underline;
    font-weight: bold;
}




.navbar {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: var(--color-text-1);

}

.logo {
    border-bottom: 2px solid rgb(148, 74, 9);
    ;
}

.logo span {
    color: rgb(148, 74, 9);
    font-weight: bold;

}

.nav_links {
    display: flex;
    align-items: center;

}

.nav_links li {
    margin: 0 20px;
}



/* ==================== Header start=================== */


header {
    /* para respon */
    width: 100vw;
    height: 100vh;
    /* ===== */
    background-image: url("../img/leopardo.png");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.header_content {
    margin-bottom: 150px;
    color: var(--color-text-1);
    text-align: center;
}

.header_content h2 {
    /* para respon */
    font-size: 7vmin;
    /* ==== */
}

.line {
    width: 150px;
    height: 4px;
    background: rgb(36, 0, 0);
    background: linear-gradient(90deg, rgba(36, 0, 0, 1) 0%, rgba(121, 61, 9, 1) 37%, rgba(255, 157, 0, 1) 100%);
    margin: 10px auto;
    border-radius: 5px;
}

.header_content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: rgb(36, 0, 0);
    background: linear-gradient(90deg, rgb(95, 2, 2) 0%, rgb(131, 59, 5) 37%, rgba(255, 157, 0, 1) 100%);
    border-radius: 30px;
    color: var(--color-text-1);
    transition: all 0.4s;
}

.ctn:hover {
    box-shadow: 0px 0px 8px rgb(105, 6, 6);
}

.activeA a:hover {
    color: rgb(148, 74, 9) !important;
    border-bottom: 2px solid rgb(148, 74, 9);
    ;
}

.active a:hover {
    color: var(--color-text-1);
}

.menu_btn {
    width: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    display: none;
}

.menu_btn:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(105, 6, 6);

}

/* ================== Events content ================== */

section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: var(--color-text-2);
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.row .col {
    height: 405px;
    ;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row .col img {
    width: 80%;
}

.events .row {
    margin-top: 50px;
}

.col h4 {
    font-size: 3vmin;
    color: var(--color-text-2);
    margin: 20px auto;
}

.col p {
    color: var(--color-text-2);
    text-align: center;
    margin-bottom: 15px;
}

/* ================== explore events ================ */

.explore {
    width: 100%;
    height: 100vh;
    background-image: url("../img/camalion.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-content {
    width: 80%;
    padding: 50px;
    background-color: rgba(37, 37, 37, 0.436);
    opacity: 1.0;
    color: var(--color-text-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-content h1 {
    text-align: center;
    font-size: 7vmin;
    margin: 50px;
}

.explore-content .line {
    margin-top: -44px;
    margin-bottom: 50px;
}

.explore-content p {
    color: var(--color-text-1);
    margin-bottom: 40px;

}

/* ================== Tours events ================ */
.row-tours {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content-col {
    width: 40%;
    justify-content: center;
    align-items: center;
}

.content-col h1 {
    font-size: 7vmin;
    color: var(--color-text-2);
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0px;
    margin: 30px auto;
    color: var(--color-text-2);
}

.content-col .ctn {
    margin-left: 5px;
}

.img-tours {
    width: 490px;
    height: 300px;
    display: block;

}

.img-tours-galery {
    width: 13rem;
    margin: 9px;
}



/* ==================== Footer events =================== */

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 88px;
    margin: 0px;
    background: rgb(36, 0, 0);
    background: linear-gradient(90deg, rgba(36, 0, 0, 1) 0%, rgba(121, 61, 9, 1) 37%, rgba(255, 157, 0, 1) 100%);
    text-align: center;
}

.footer p {
    font-size: 1.5em;
    color: var(--color-text-1);
    margin: 20px auto;
    padding: 20px auto;
}

/* ==================== Mobile Device =================== */
@media (max-width: 950px) {
    .content-col h1 {
        font-size: 5vmin;

    }
}


@media (max-width: 850px) {

    .menu_btn {
        display: block;
    }

    .navbar {
        padding: 0px;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav_links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;

        margin-top: -1020px;
        transition: all 0.5s;

    }

    .mobile_menu {
        background: rgb(36, 0, 0);
        background: linear-gradient(90deg, rgba(36, 0, 0, 1) 0%, rgba(121, 61, 9, 1) 37%, rgba(255, 157, 0, 1) 100%);
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav_links li {
        margin: 30px auto;
    }

    /* ============= events ========== */
    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 40px auto;
    }

    .col img {
        max-width: 90%;
    }


    /* ================ Explore =============== */
    .explore-content {
        width: 100%;
    }

    .tours .col {
        width: 100%;
    }

    .img-tours {
        width: 349px;
        height: 208px;
    }

    .img-tours-galery {
        width: 9rem;

    }

    .footer {

        padding: 0px;
        position: absolute;

    }
}

@media (max-width: 850px) {
    .content-col h1 {
        font-size: 7vmin;

    }
}

@media (max-width: 430px) {
    .events .row {
        margin-top: 10px;
    }

    .row .col {
        height: 270px;
    }

    .row {
        margin-top: -6rem;

    }

    .content-col p {

        margin-left: -2rem;
    }

    .img-tours {
        margin-left: -1.4rem;

    }

}

/* =============== Animations ================ */

img {
    transition: transform .2s ease;
}

img:hover {
    transform: scale(1.1);
}